@import url('https://fonts.cdnfonts.com/css/inlanders');
$font-1:'Inlanders',
sans-serif;
$white:#fff;
$black:#000;
$primary: #15ACFF;
$secondary: #050505;
$text:#C0C3C5;
$heading: $black;
$border:#4B4B4B;
$bg:#070707;
:root {
    scroll-behavior: auto !important;
}